.breadcrumb-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-top: 2.5rem;
    position: relative;

    & + .block-space{
        margin-top: 0;
    }

    &::after {
        content: "";
        width: 100vw;
        height: 1px;
        background: #D5D5D5;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.breadcrumb {
    display: none;
    color: $body-color;

    > *a:last-child {
        margin-left: 1rem;
    }
    a {
        font-size: 1.4rem;
        text-decoration: none;
        color: $body-color;
    }
    li {
        a {
            letter-spacing: 0;
            line-height: 24px;
            text-decoration: none;
            vertical-align: middle;
            &:hover, &:focus{
                color: $body-color;

            }
        }
    }
}

.breadcrumb-item {
    font-size: 1.4rem;
    &.breadcrumb-back {
        font-weight: bold;
          +.breadcrumb-item  {
            &:before {
                content: none;
            }
        }
    }
    & + .breadcrumb-item {
        padding-left: 1rem;

        @include icon(before, icon-angle-right) {
            vertical-align: middle;
            font-size: 1rem;
            color: $body-color;
            margin-top: 0;
            padding-right: .5rem;
            line-height: unset;
        }
    }

    a {
        color: inherit;
        @include link-underline();
        @include hover-focus {
            color: $primary;
        }
    }
    &.is-active{
        a {
            border-bottom-color: currentColor;
        }

    }
}

.breadcrumb-right {
    margin-left: auto;

    button {
        height: 2.6rem;
        font-size: 2.2rem;

        &:hover,
        &:focus,
        &[aria-expanded="true"] {
            color: $primary;
        }
    }
}

.breadcrumb-right__item {
    position: relative; // position dropdown menu share

    &:not(:last-child) {
        margin-right: 1rem;
        padding-right: 1rem;
        border-right: solid 0.1rem $border-color;
    }
}

.dropdown-menu-center {
    top: 100% !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
}


// RWD tablet/desktop
@include media-breakpoint-up(sm) {
    .breadcrumb {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}