*,
*::after,
*::before {
    box-sizing: border-box;
}
main {
    .block-space {
        &:first-child {
            margin-top: 0;
        }
    }
}
body {
    position: relative;
    overflow-x: hidden;

    &.overflow {
        overflow: hidden;
    }
}

a {
    transition: color 250ms ease;
}

p {
    // &:first-child {
    //     margin-top: 6rem;
    // }
     &:last-child {
        margin-bottom: 0;
    }
}

figure,
.figure {
    display: block;
    margin: 0; // reset bootstrap
}

iframe {
    display: block;
    width: 100%;

}

iframe ~ .o-teaser__content {
    margin-top: 2rem;
}

// Space between components

.block-space {
    margin-top: $block-space;
    margin-bottom: $block-space;
}

// RWD tablet/desktop
@include media-breakpoint-up(sm) {
    .block-space {
        margin-top: $block-space-desktop;
        margin-bottom: $block-space-desktop;
    }
}

.container-smaller {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
}

.container-medium {
    max-width: 101rem;
    margin-right: auto;
    margin-left: auto;
}

// Make children of columns have the same height
//      <div class="row col--eq-height">
.col--eq-height {
    display: flex;
    flex-wrap: wrap;

    > * {
        display: flex!important;

        > * {
            width: 100%;
        }
    }
}

.block-title + .block-space  {
    margin-top: 0;
}

.aw-col-38 {
    @include aw-make-col-value(38rem);
}