.navbar {
    position: static;
}

.navbar-nav {
    font-weight: $fw-semiBold;

    li.nav-item {
        .nav-link {
            color: $body-color;
            font-weight: $fw-semiBold;
            text-decoration: none;

            @include hover {
                color: $primary;
            }

            &[aria-expanded] {
                @include icon(after, icon-angle-down){
                    right: -1.5rem;
                }
            }
            &[aria-expanded="true"] {
                @include icon(after, icon-angle-up) {
                    transition: transform 250ms ease;
                }
            }
        }
        button.nav-link {
            &:hover {
                @include icon(after, icon-angle-up) {
                    color: $primary;
                }
            }

        }
    }

    .nav-submenu-link {
        font-weight: $fw-semiBold;

        @include hover {
            color: $primary;
        }
    }

    .nav-link,
    .nav-submenu-link {
        position: relative;
        width: 100%;
        display: block;
        padding: 1rem 2rem;
        text-align: left;
        color: $body-color;
        text-decoration: none;
        font-size: 1.4rem;
        transition: color 250ms ease, background-color 250ms ease, border-color 250ms ease;


        &[aria-expanded] {
            position: relative;
            width: 100%;

            @include icon(after, icon-angle-down){
                position: absolute;
                top: 50%;
                right: 2rem;
                transform: translate(0, -50%);

                color: $body-color;

                transition: transform 250ms ease;
            }
        }

        &[aria-expanded="true"] {
            @include icon(after, icon-angle-up) {
                transition: transform 250ms ease;
            }
        }
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: $zindex-fixed;
        overflow-y: auto;

        background-color: $white;

        .nav-item {
            border-bottom: solid 0.1rem $border-color;
        }

        .nav-link {
            padding: 2.5rem 5rem 2.5rem 3rem;
            border-right: solid 0.5rem transparent;
        }

        // Submenu Lvl2
        .nav-collapse {
            margin: 0;
            border: 0;
            color: $navbar-light-color;

            .nav-submenu-link {
                display: block;
                padding: 1rem 2rem 1rem 5rem;
                border-right: solid 0.5rem transparent;
                color: inherit;

                &:after {
                    right: 0.5rem;
                }
            }
        }

        // Submenu Lvl3
        .nav-submenu .nav-submenu {
            .nav-submenu-link {
                padding-left: 7rem;
                font-size: 1.4rem;
                font-weight: 400;
            }
        }
    }


    // Active
    .is-active {
        &,
        &.show {
            > .nav-link,
            > .nav-submenu-link {

                &:before {
                    content: "";
                    display: block;
                    height: 24px;
                    width: 2px;
                    background: $primary;
                    position: absolute;
                    left: 0;
                    transform: translateY(-50%);
                    top: 50%;
                }
            }
        }
    }
//--- RDW Mobile
    @include media-breakpoint-down(sm) {
        .nav-submenu-link {
            font-weight: $fw-regular;
        }

        [aria-expanded] {
            position: relative;
            width: 100%;

            @include icon(after, icon-angle-down){
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0, -50%);

                color: $body-color;

                transition: transform 250ms ease;
            }
        }

        [aria-expanded="true"] {
            @include icon(after, icon-angle-up) {
                transition: transform 250ms ease;
            }
        }
    }
}