.wysiwyg,
.cke_editable {
    ul, ol, dl {
        margin: 0 0 2rem 0;
        ul, ol, dl {
            margin-bottom: 0;
            margin-top: 1rem;
        }
    }

    ul {
        @include list-ul($brand-6);
    }

    ol {
        @include list-ol($body-color);
    }

    dd {
        margin-bottom: 2rem;
        margin-left: 2rem;
    }
    // blockquote {
    //     position: relative;
    //     text-align: center;
    //     margin: 6rem auto;
    //     &:before {
    //         content: "";
    //         display: flex;
    //         position: absolute;
    //         left: 50%;
    //         transform: translateX(-50%);
    //         background-color: rgba(197,38,100,.1);
    //         width: 80%;
    //         height: calc(100% + 6rem);
    //         top: calc(-50% + 1.7rem);
    //     }
    // }
}