.m-share__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.m-share__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 2.4rem;
    text-decoration: none;

    color: inherit;

    @include hover-focus {
        color: $primary;
        text-decoration: none;
    }

    .icon-external-link {
        display: none;
    }
}

.m-share__item:not(:last-child) {
    border-right: solid 0.1rem $border-color;
}

.m-share__icon {
    line-height: 1;
}