.o-accordion {
    width: 100%;
}

.o-accordion + .o-accordion,
.paragraph + .paragraph .o-accordion // drupal adds div.paragraph around .o-accordion
{
    border-top: 0;
}

// .o-accordion-global-title {
//     margin: 0;
//     padding: 2rem;
//     font-size: 2.4rem;
//     background-color: rgba(229,229,229,0.2);
//     color: $body-color;
// }

.o-accordion__title {
    margin: 0;
    font-size: inherit;
}

.o-accordion__header {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;

    padding: 2rem 3rem;
    font-size: 2rem;
    font-weight: $fw-semiBold;
    border: solid 0.1rem $gray-300;
    border-radius: .4rem;

    transition: color 250ms ease, background-color 250ms ease;

    background-color: rgba(229,229,229,0.2);
    color: $body-color;

    margin: 3rem auto;

    @include icon(after, icon-plus) {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translate(0, -50%);
        font-size: 1.5rem;
        color: $gray-600;
    }

    &[aria-expanded="true"] {
        color: $body-color;
        margin-bottom: 0;
        border-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @include icon(after, icon-moins, false);
    }

    [class*="icon"] {
        margin-right: 1rem;
        font-size: 80%;
    }

    @include hover {
        background-color: $gray-100;
    }

    .is-highlighted & {
        margin-top: -0.1rem;
        font-size: 2rem;
        font-weight: 500;
        color: $primary;
        border: solid 0.1rem $primary;

        &::after {
            color: inherit;
        }
    }
}

.o-accordion__panel {
    &[aria-hidden="true"] {
        display: none;
    }


    background-color: rgba(229,229,229,0.2);
    color: $body-color;
    border: solid 0.1rem $gray-300;
    border-top: 0;
    margin-bottom: 3rem;
    padding: 2rem 3rem 3rem;

    .wysiwyg {
        h2, h3 {
            margin-top: 0;
        }
    }

    .m-encart-address__iframe {
        margin: 0;
    }
}

@include media-breakpoint-up(lg) {
    .o-accordion-global-title {
        padding: 3.5rem 3rem;
        font-size: 2.5rem;
        width: 100%;
    }

    .o-accordion__header {
        padding: 2rem 5rem 2rem 3rem;
        font-size: 2.4rem;

        .is-highlighted & {
            font-size: 2.5rem;

            [class*="icon"] {
                margin-right: 2rem;
            }
        }
    }

    .o-accordion__header[aria-expanded]:after {
        right: 2rem;
    }
}