.o-blockquote {
    .tns-inner {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 5.6rem;
            border-radius: .4rem;
            margin: auto;
            display: block;
            background-color: rgba(22,160,134,.1);
            width: 80rem;
            max-height: 100%;
            height: calc(100% - 8.1rem);
            margin: auto;
            text-align: center;
            left: 50%;
            text-align: center;
            transform: translateX(-50%);
        }
    }
}

.o-blockquote_item {
    text-align: center;
    font-size: 1.5rem;
    position: relative;

    &::before {
        content: "";
        background-image: url(../img/Patate2.svg);
        background-repeat: no-repeat;
        position: absolute;
        display: block;
        width: 120px;
        height: 112px;
        background-size: contain;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        // top: -5.6rem;
    }
    &.icon-podcast::after, &.icon-edit::after, &.icon-video::after {
            content: "x";
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            color: $white;
            font-size: 4.7rem!important;
            top: 2.85rem;
            width: 4.7rem;
            height: 4.7rem;
    }
    &.icon-podcast {
        @include icon(after, icon-podcast);
    }
    &.icon-edit {
        @include icon(after, icon-edit);
    }
    &.icon-video {
        @include icon(after, icon-video){
            top: 3.85rem;
        }
    }


    h2 {
        margin-bottom: 2.7rem;
    }

    .o-blockquote_citation {
        margin: 0 2rem 3.5rem 2rem;
        font-size: 2rem;
        .o-blockquote_text {
            margin-bottom: 1rem;
            line-height: 3.4rem;
        }
        cite {
            font-weight: bold;
            font-style: normal;
        }
    }
}

.o-blockquote_wrapper {
    padding: 14.2rem 0 0rem 0;
    margin-bottom: 0;
    position: relative;
}

// RWD tablet/desktop
@include media-breakpoint-up(sm) {
    .o-blockquote_item {
        .o-blockquote_citation {
            font-size: 2.4rem;
            margin-left: 0;
            margin-right: 0;
        }
    }
}