.block-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
    h2 + p {
        margin-top: 2rem;
    }
}

// Block title of teasers
.o-teasers-blockTitle {
    margin-bottom: 2rem;
}


// RWD tablet/desktop
@include media-breakpoint-up(md) {
    // Block title of teasers
    .o-teasers-blockTitle {
        margin-bottom: 0;

        &[class*="potato--"]{
            &:before {
                top: -3.5rem;
            }
        }

        h2 {
            margin-bottom: 3rem;
        }
    }

    .block-title {
        margin-bottom: 4rem;
    }
}