.o-block-notation {
    text-align: center;

    .notation-title {
        margin-bottom: 3rem;
    }

    .notation-notes {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.rating {
	cursor: pointer;
}

.rating .rating-star {
	display: inline-block;
  position: relative;
  padding-right: 5px;
  margin-left: -5px;
  color: #e3cf7a;
}
.rating .selected:before {
  content: '\f005';
}
.fa-star-o {
  &:before {
    color: red;
  }
}
.fa-star {
  &:before {
    color: green;
  }
}