#sliding-popup {
    padding: 2rem 0;

    .eu-cookie-compliance-content {
        h2 {
            font-weight: normal;
        }

        p {
            font-size: 1.4rem;
            font-weight: normal;
        }

        button {
            @include reset-btn;
            text-shadow: none;
            color: inherit;
            box-shadow: none;
            margin: 0.5em;
        }

        .agree-button {
            @extend .btn;
            @include aw-button-variant(
                $default-color: $white, $default-background: $primary, $default-border: $primary,
                $hover-color: $white, $hover-background: $primary-clear, $hover-border: $primary,
                $active-color: $white, $active-background: $primary-clear, $active-border: $primary,
                $outline-color: $primary
            );
        }
    }

    .eu-cookie-compliance-buttons {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    #sliding-popup {
        .eu-cookie-compliance-buttons {
            margin-top: 1em;
        }

        .eu-cookie-compliance-message {
            float: none;
        }
    }
}