.o-filter {
    border: 1px solid $gray-300;
    border-radius: .4rem;
    margin-bottom: 4rem;

    .icon-filter {
        margin-right: 1rem;
    }

    [data-toggle="collapse"] {
        position: relative;

        @include icon(after, icon-angle-down) {
            margin-left: 1rem;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            transition: transform 250ms ease;
            font-size: 1rem;
        }

        &[aria-expanded="true"] {
            @include icon(after, icon-angle-up, false);
        }
    }
}


.filter-head {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2.3rem;
    text-align: center;
    font-weight: $fw-bold;
    font-size: inherit;
    line-height: inherit;

    &[data-toggle="collapse"]::after {
        right: 2rem;
    }
}

.filter-body {
    padding: 4rem 3rem;
    border-top: 0.1rem solid $gray-300;

    .filter-title {
        font-size: 1.4rem;
    }

    .filter-item {
        margin-bottom: 3rem;
    }

    .filter-item-wrapper {
        margin-bottom: 3rem;
        transition: 500ms;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .filter-title {
        display: flex;
        position: relative;
        width: 100%;
        text-decoration: none;
        color: $body-color;
        font-weight: $fw-bold;
        margin-bottom: 1.5rem;
    }

    .form-submit {
        width: 100%;
        margin: 0; // reset drupal
    }
}