.o-image {
    overflow: hidden;
    border-radius: 2rem;

    img {
        @include img-full;
    }
}

// Img full
.imgFull_legend {
    margin-top: 1rem;
    font-size: 1.4rem;
    text-align: right;
    color: $body-color;
}