.o-liste {
    ul {
        @include list-ul($brand-6);

        li {
            font-size: 1.4rem;
            // min-height: 16.6rem;

            &:before {
                top: 0.5rem;
            }
        }
    }

    h2 {
        margin-bottom: 3rem;
    }

    p {
      margin-bottom: 1rem;
    }

    .liste_wrapper {
        margin: auto 0;;
    }
}