
.o-pas-a-pas .row{
    display: flex;
    justify-content: center;
}
.o-pas-a-pas_item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 20rem;
    margin-bottom: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 1px solid $gray-300;
    border-radius: .4rem;
    text-align: center;
    font-weight: $fw-semiBold;
    background-color: rgba($gray-200, .2);

    .o-teaser__title {
        margin-bottom: 0;
    }
    &:hover {
        .pap-title {
            color: $white;
            text-decoration: none;
        }
    }
    &.o-teaser--clickable {
        &::after {
            background-color: $white;
            color: $primary;
            border: 0;
        }

        &:hover,
        &:focus-within {
            background-color: $primary;
            border-color: $primary;
            color: $white;
        }
    }

    .pap-title {
        color: $body-color;
        text-decoration: none;
    }
}

// Questions R&ponses
// .QR_wrapper {
//     ul {
//         li {
//             p {
//                 margin-bottom: 0;
//             }
//             margin-bottom: 2rem;
//         }
//     }
// }
