.presnetationGenerale_wrapper--withImg--right {
        display: block;
        position: relative;
        overflow: hidden;
        padding: 3rem;
}
.presnetationGenerale__text {
    >* {
        margin-bottom: 2.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.presnetationGenerale__thumb {
    margin-top: 2rem;
}


// présentation générale with(out) bg
.presnetationGenerale_wrapper--withImg {
    padding: 2rem;
    position: relative;

    // &:not([class*="bg-opacity--"]) {
    //     padding: 0;
    // }
    .block-space {
        margin: 0;
    }
    &[class*="bg-opacity--"]{
        padding: 4rem 6rem;
        border-radius: 2rem;
    }
}

.presnetationGenerale_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 2rem;

    .presnetationGenerale_tag {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;

        p {
            margin-right: 3rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
// RWD tablet/desktop
@include media-breakpoint-up(sm) {
    .presnetationGenerale_wrapper {
        padding: 5.6rem 10.5rem;

        h1 {
            margin-bottom: 3rem;
        }
    }

    .presnetationGenerale__thumb {
        margin-top: 0;
        text-align: right;
    }

    .presnetationGenerale_wrapper--withImg {
        .row {
            align-items: center;
        }
    }
    .presnetationGenerale_wrapper--withImg--right {
            background-image: url("../img/Enregistre-vous.png");
            background-repeat: no-repeat;
            background-position: center right;
            background-size: cover;
            border-radius: 2rem;
            padding: 6rem;

        &__thumb {
            margin-top: 0;
        }
    }
}