.o-sitemap {
    a {
        color: inherit;
    }
}

.o-sitemap__title {
    margin-bottom: 3rem;

    &:not(:first-child) {
        margin-top: $block-space;
    }

    a {
        @include link-inverse;
    }
}