
.o-teaser {
    position: relative;
    margin-bottom: $grid-gutter-width;

    border: solid 0.1rem $border-color;
    border-radius: $border-radius-sm;
    overflow: hidden;

    &--clickable {
        cursor: pointer;
        transition: border-color 250ms ease;

        @include icon(after, icon-arrow-right) {
            opacity: 0;
            position: absolute;
            right: 0;
            bottom: 0;

            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;

            color: $white;
            background-color: $primary;
            border-radius: $border-radius-sm 0;

            transition: opacity 250ms ease;
        }

        &:hover,
        &:focus-within {
            border-color: $primary;

            &::after {
                opacity: 1;
            }
        }
    }

    .a-info--tag {
        margin-right: 1rem;
    }
}

// .c-teaserZigZag {
//     position: relative;
//     &:before {
//         content: "";
//         background-image: url(../img/Patate1.svg);
//         background-repeat: no-repeat;
//         background-size: contain;
//         background-position: center;
//         position: absolute;
//         display: block;
//         width: 100%;
//         height: 100%;
//     }
// }

.c-teaserZigZag-wrapper {
 margin: 1rem;
}

.o-teaser__top {
    position: relative; // needed to position date
}

.o-teaser__date {
    position: absolute;
    top: 2rem;
    left: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 7.4rem;
    height: 7.4rem;

    font-size: 1.8rem;
    font-weight: $fw-bold;

    background-color: rgba($white, 0.7);
    border: solid 0.1rem $white;
    border-radius: $border-radius-sm;

    .date__day {
        &::after {
            content: ".";
        }
    }
}

.o-teaser__date--simple {
    flex-direction: column;

    .date__day {
        &::after {
            content: ".";
            position: absolute;
            right: auto;
            bottom: auto;
        }
    }
}

.o-teaser__date--multiple {
    flex-wrap: wrap;
    align-content: center;

    font-size: 1.4rem;

    .separator {
        @include aw-make-col-value(100%);
        text-align: center;
        font-size: 1rem;
    }
}

.o-teaser__top-text {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 16.8rem;
    padding: 2rem 3rem;
    font-size: 2.4rem;
    text-align: center;
    font-weight: $fw-semiBold;
}

.o-teaser__title {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    font-weight: $fw-bold;
    line-height: 1.5;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.o-teaser__lead {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 1.7;
}

.o-teaser--vertical {
    background-color: $white;

    .o-teaser__top .o-teaser__img {
        background-color: rgba($gray-200, 0.1);

        img {
            @include img-full;
        }
    }

    .o-teaser__content {
        position: relative;
        padding: 2rem;

        > :last-child {
            margin-bottom: 0;
        }

        .o-teaser__img {
            margin-bottom: 2rem;

            img {
                @include img-full;
            }

            &.teaserImgPosition {
                img {
                    width: initial;
                }
            }
        }
    }

    .o-teaser__top + .o-teaser__content {
        padding-top: 3rem;
    }

    .o-teaser__infos--top {
        position: absolute;
        top: 0;
        left: 2rem;
        transform: translateY(-50%);
    }

    &.o-teaser--clickable {
        .o-teaser__content {
            padding-bottom: 4rem; // space for icon
        }
    }
}

.o-teaser--bigger {
    width: 38rem;
    margin-right: 4rem;
    & {
        display: flex;
        justify-content: center;
    }
    &:last-child {
        margin-right: 0;
    }
    .o-teaser__content {
        padding: 3rem;
    }

    .o-teaser__title {
        font-size: 2.4rem;
    }
}

.o-teaser--smaller {
    .o-teaser__title, p {
        font-size: 1.4rem;
    }

    .o-teaser__img {
        img {
            width: 100%!important;
        }
        overflow:hidden;
        border-radius:50px;
        width: 5rem;
        height: 5rem;
    }
}

.o-teaser--horizontal {
    margin-bottom: 6rem;
    padding-bottom: 6rem;
    border-width: 0 0 0.2rem 0;
    border-radius: 0;

    &.o-teaser--clickable {
        &:hover,
        &:focus-within {
            border-bottom-right-radius: $border-radius-sm;

            .o-teaser__title {
                color: $primary;
            }
        }
    }

    .o-teaser__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .o-teaser__infos--top {
        order: -1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .a-info--tag {
        margin-bottom: 1rem;
    }

    &.o-teaser--podcast {
        margin-bottom: 4rem;
        padding-bottom: 4rem;
    }
}

// Podcast Teasers
.o-teaser-podcast {
    background-image: url("../img/Onde.svg");
    background-repeat: no-repeat;
    background-size: 100% 13.8rem;
    position: relative;
    border: 0;
    border-radius: 4px;

    &.o-teaser--clickable {
        &::after {
            background-color: $white;
            color: $primary;
            border: 0;
        }

        &:hover,
        &:focus-within {
            border-color: transparent;
        }
    }
    .o-teaser-podcast_content {
        margin-top: 13.8rem;
        display: block;
        padding: 0 5rem 2rem 2rem;
    }

    .o-teaser__time {
        position: absolute;
        top: 1rem;
        right: 1rem;
        line-height: 1.2rem;
        height: 2.7rem;
        font-size: 1.2rem;
        margin-bottom: 2rem;
        padding: .8rem;
        font-weight: $fw-bold;
        color: $white;
        background-color: rgba($white, 0.1);
        border: solid 0.1rem $white;
        border-radius: $border-radius-sm;

        .time__hour {
            &:after {
                content: ".";
            }
        }
    }

    .o-teaser__title {
        color: $white;
    }

    .a-info--tag {
        position: static;
    }
}

// RWD tablet/desktop
@include media-breakpoint-up(sm) {
    .c-teaserZigZag-wrapper {
        justify-content: center;
        margin: 0;
        width: calc(100% + 4rem);

        article:nth-child(odd) {
            margin-top: 8.9rem;
        }
        .o-teaser--vertical {
            height: 100%;
            width: 27.5rem;
            margin-right: 4rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}